.itt {
    --bs-nav-link-color: red;
    --bs-nav-link-hover-color: blue;
    --bs-nav-link-active-color: green;
    --bs-navbar-active-color: rgb(60, 255, 0);
}

:root {
    --border-color: #ebedf0;
    --text-color: #617179;
    --text-hover-color: #010303;
    --hover-bg: #303d4413;
    --primary-font: "Inter", sans-serif;
    --primary-color: #48c248;
}

// nav 2


// nav 2



.btn:hover {
    background-color: #c1c7c6 !important;
}

.btn {
    border: 1px solid #c1c7c6 !important;
}

.form-control {
    width: 400px !important;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(10, 175, 10, .25) !important;
}

.navbar {
    --bs-navbar-padding-x: 100px !important;
}

.btn-nav {
    border: none;
}

.btn-primary {
    --bs-btn-bg: #0aad0a !important;
}

.btn-primary:hover {
    background-color: #098f09 !important;
}

@media screen and (max-width:668px) {
    .navbar {
        --bs-navbar-padding-x: 20px !important;
    }
}

@media screen and (max-width:468px) {
    .navbar {
        --bs-navbar-padding-x: 4px !important;
    }

    .news-banar {
        font-size: .8rem;
        margin-bottom: 0;
    }
}

.ui-search-icon {
    right: 0;
    top: 20%;
    cursor: pointer;
    height: 100%;
    width: 10%;
}




// secend navgation
.offcanvas-all {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
}

.menus-s-main .menu-li {
    color: var(--text-color);
    padding: 10px 10px;
}

.wrap-s-nav .btn-a {
    text-decoration: none;
    color: #fff;
}

.submenus-items {
    top: 40px;
    left: 0;
    border: 1px solid var(--border-color);
    width: max-content;
    height: max-content;
    padding: 1px 10px;
    border-radius: 5px;
    transform: translateY(20px);
    visibility: none;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    background-color: #fff;
    transition: all .4s ease-in-out;
}

.submenu {
    margin: 5px 0;
}

.submenu a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 10px;
    min-width: 160px;
    font-size: 14px;
}

.submenu a:hover {
    background-color: var(--hover-bg);
    color: var(--text-hover-color);
}

.menus-s-main .arrow-down {
    margin-left: 13px;
}

// open sub menu
.open-submenu {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    pointer-events: painted;
}

// mega menus
.mega-sub-items {
    min-height: 380px;
    width: 95%;
    top: 28%;
    left: 3%;
    border-radius: 15px;
}

.m-list-all .m-list a {
    text-decoration: none;
    color: var(--text-color);
    padding: 4px 15px;
    display: block;
}

.m-list-all .m-list a:hover {
    background-color: var(--hover-bg);
}

.m-header {
    color: var(--primary-color);
    padding: 4px 15px;
}

.ads-m-1 {
    height: 120%;
    width: 100%;
    background-image: url("&quot;/images/slider/slide-2.jpg&quot");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .menus-s-main:hover>.submenus-items {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        pointer-events: painted;
    }
}



// css for sweper slider
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// ads container 
.ads {
    height: 150px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
}

.pt {
    border-radius: 4px;
    font-size: .6rem;
    padding: 4px 15px;
}

.product-catagory p {
    color: #01020196;
    font-size: .9rem;
}

.product-name h4 {
    font-size: 1.1rem;
    font-weight: 700;
}

.sc-icons {
    background-color: rgb(255, 255, 255);
    color: #fff;
    padding: 6px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    svg {
        fill: rgb(0, 0, 0);
    }

    &:hover {
        background-color: green;
    }

    &:hover>svg {
        fill: #fff;
    }

    transition: all .2s ease-in-out;
}

.shot_cut_icons {
    bottom: 40px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    cursor: pointer;
}

.product:hover {
    .shot_cut_icons {
        opacity: 1;
        visibility: visible;
        pointer-events: painted;
    }
}
.product,.shot_cut_icons{
    transition: all .2s ease-in-out;
}
.product{
    border: 1px solid rgba(0, 0, 0, 0.164);
    &:hover{
        border: 2px solid rgba(10, 117, 0, 0.986);
    }
}
.add-tocart-button button{
    background-color: rgb(0, 170, 0);
    transition: all .2s ease-in-out;
}
.add-tocart-button button:hover{
    background-color: rgb(0, 124, 0);
}
.product-name{
    height: max-content;
}
.product-name h4{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stok-status p{
    color:green;
    font-size: .9rem;
}
.old-price{
    text-decoration: line-through;
    color: #00000073;
}